@model FinalProject.Models.Appointment

@{
    ViewBag.Title = "PerformAppointment";
    Layout = "~/Views/Shared/_LayoutForPsychologist.cshtml";
}
<p class="w3-container w3-green w3-col w3-xlarge w3-hide l5 w3-animate-opacity " style="position:absolute;top:50px;right:20px;" id="alert"></div>
<div class="w3-container w3-teal w3-margin-top"><h1>Appointment# @Model.ID</h1> </div>
<div class="w3-container w3-white w3-xlarge"> In Given Input Field, jott down the description and
    Notes about this particular Appointment. These will be saved as History of this user for future references</div>
<div class="w3-container w3-margin-top">
    <input id="description" type="text" style="height:200px;border:inset;border-width:10px; border-color:purple" class="w3-input w3-blue w3-text-white w3-xlarge w3-col l12 m8 s8" />
<button id="saveHistory" onclick="save()" class="w3-brown w3-xlarge w3-hover-blue w3-col l4 " style="margin-left:33.3%;margin-top:40px;">Save</button>
</div>
<script>
    $(document).ready(function () {
        $('description').focus();
    });

    function save() {
        $.ajax({
            type: "POST",
            url: "@Url.Content("~")Psychologists/PerformAppointment?apid=" + @Model.ID+"&userid=" +@Model.UserID+"&description=" + $('description').val(),
            success: function (data) {
                window.location = "@Url.Content("~")Psychologists/DescriptionSaved";
               
            },
            error: function () {
                alert("could'nt save Description!");
            }
        });
    }

</script>