
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <environment include="Development">
        <link rel="stylesheet" href="~/css/w3.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <title>Index</title>
    <style>
        body{
            background-image:url('@Url.Content("~/css/BG.png")' ) ;
            background-size:cover;
        }
    </style>
</head>
<body>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1951660698494891',
                cookie: true,
                xfbml: true,
                version: 'v2.12'
            });

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        };




        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        function statusChangeCallback(response) {
            if (response.status === 'connected') {
                console.log(response);
            }
        };
    </script>

    <div class="w3-col l6" style="margin-left:24%;margin-top:7%;">
        <h1 class="w3-container w3-teal">Welcome to BetterBrain!</h1>
        <h2 class="w3-container w3-red">Your Ultimate Stop For Better Mental Health and Cure.</h2>
        <a asp-controller="Home" 
   asp-action="Chat" class="w3-btn w3-btn-block w3-indigo w3-xlarge">
View Details</a>
        <div class="fb-login-button" data-size="large" onclick="location.reload(true)" data-scope="public_profile,email,user_hometown,user_photos,user_education_history,user_posts,user_work_history,user_relationship_details,user_birthday" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div>
    </div>
<<<<<<< HEAD

</body>
</html>
=======
</div>
<h1> this is a heading </h1>
>>>>>>> 2d28abca84a7fd3e90e4311300e5f96aec10e733
