
<link href="~/Content/loader.css" rel="stylesheet" />


<body>

    <div class="spinner">
        <div class="rod"></div>
        <div class="rod"></div>
        <div class="rod"></div>
        <div class="rod"></div>
        <div class="rod"></div>
        <div class="rod"></div>
        <div class="rod"></div>
        <div class="rod"></div>
        <div class="rod"></div>
        <div class="rod"></div>
        <div class="rod"></div>
        <div class="rod"></div>
    </div>


</body>
