
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You are not Authorized!</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/w3.css" rel="stylesheet" />

    <link href="~/Content/animate.css" rel="stylesheet" />
    <style>
        html,body{
            height:100%;
            width:100%;
        }
    </style>

</head>
<body class="w3-blue">
    <h1 style="height:20%;margin-top:20%;margin-left:20%;"><span class="animated infinite fadeInLeftBig ">YOU</span> <span class="animated infinite zoomOutDown">ARE</span>  <i class="animated infinite flipInX">NOT</i> AUTHORIZED!!</h1>
</body>
</html>

