@model IEnumerable<FinalProject.Models.Psychologist>

@{
    ViewBag.Title = "PsyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    foreach (var item in Model)
    {
        <div class="card cardsizing  border-primary" style="">
            <img class="img-fluid" style="height:200px;" src=@Url.Content(item.ImageAddress) />
           
            <p class="text-primary ml-3" style="font-size:30px;">@item.Name</p>
            <ul>
                <li><p style="font-size:18px;">@item.psyType.Name</p>
                </li>
                <li><p class="text-capitalize" style="font-size:18px;">@item.Sex</p></li>

            </ul>
            <a href="tel:@item.MobileNo" class="btn btn-primary btn-sm col-lg-4"><i class="glyphicon glyphicon-phone-alt"></i> Call</a>
            

            <div class="card-body border-primary border-top">

                <p class="card-text"> This is the description of the psychologist</p>
            </div>

            <div class="card-footer border-primary">gfgfgfg</div>
            @Html.ActionLink("Details", "Details", new {id= item.ID },new { @class="btn  btn-primary "})

        </div>
    }
    
}




