@model FinalProject.Models.Appointment

@{
    ViewBag.Title = "RequestAcc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/w3.css" rel="stylesheet" />
<h1>Appointment info</h1>
<div class="" style="margin-left:10%;">
    @{
        TimeSpan timespan = Model.session.StartingTime;
        DateTime time = DateTime.Today.Add(timespan);
        string startingTime = time.ToString("hh:mm tt");

        TimeSpan timespan2 = Model.session.EndingTime;
        DateTime time2 = DateTime.Today.Add(timespan2);
        string endingTime = time2.ToString("hh:mm tt");
    }
    <h2><span class="w3-teal">Date: </span> <span style="margin-left:20px;">@Model.session.SessionDate.ToString("D")</span> </h2>
    <h2><span class="w3-teal">Starting Time:</span> <span style="margin-left:20px;"></span>@startingTime</h2>
    <h2><span class="w3-teal">Ending Time:</span> <span style="margin-left:20px;"></span>@endingTime</h2>
    </div>


